@(signupForm: Form[Login.LoginHelper])


@import helper._
@import helper.twitterBootstrap._

@main(Html("Cambox")) { 
		@helper.form(action = routes.Login.authenticate, 'id -> "form-signin") {
        <h2>Please sign in</h2>
        @if(signupForm.hasGlobalErrors) { 
                <p class="error">
                    @signupForm.globalError.message
                </p>
            }
            
            @if(flash.contains("success")) {
                <p class="success">
                    @flash.get("success")
                </p>
            }
        <input type="email" name="email" placeholder="Email address" class="login-input" required="required">
        <input type="password" name="password" placeholder="Password" class="login-input" required="required">
        <button type="submit" class="login-submit">Log in</button>
        }
		
			<div id="welcome">
                <h2>Welcome!</h2>
                <div class="welcome-text">
                    <p>Here you can watch sorted video with immediate update without spam and fake, because our admins take care about it before uploading videos.</p>
                </div>

                <a class="signup" href="/signup">Sign Up</a>
                
                
        	</div>
        <!--  	<div class="lang-buttons-wrap">
                	<div class="lang-button">
                		<a href="#"><img alt="en" src="@routes.Assets.at("images/icons/en.png")"></a>
                		<p class="text-lang">en</p>
                	</div>
                	<div class="lang-button">
                		<a href="#"><img alt="ru" src="@routes.Assets.at("images/icons/rus.png")"></a>
                		<p class="text-lang">ru</p>
                	</div>
                	<div class="lang-button">
                		<a href="#"><img alt="ua" src="@routes.Assets.at("images/icons/ua.png")"></a>
                		<p class="text-lang">ua</p>
                	</div>
                </div>
                
         -->
 }