@(uploadForm: Form[Video])

@import helper._
@import helper.twitterBootstrap._

@main(Html("Cambox")) {
	<div id="upload-wrapper">
		@helper.form(action = routes.VideoController.uploadVideo, 'id -> "upload-form", 'enctype -> "multipart/form-data") {
       <fieldset>
            <legend>Upload your video!</legend>
            
            @inputText(
                uploadForm("name"), 
                '_label -> "Title", 
                '_help -> "Please choose name of video.",
                '_error -> uploadForm.globalError
            )
            
            @inputText(
                uploadForm("category"), 
                '_label -> "Category", 
                '_help -> "Please choose a category.",
                '_error -> uploadForm.globalError
            )
		            
      
			<div class="clearfix" id="description_field">
			    <label for="description">Description</label>
			    <div class="input">
			    	<textarea id="description" name="description" value="Description.." ></textarea>
			        <span class="help-block">Please describe your video.</span> 
			    </div>
			</div>          
        </fieldset>
        
          <div>        	
      		<input class="input-video" type="file" name="video" accept="video/*">
        </div>

        <input type="submit" value="Upload selected video" class="submit-upload">
      
	}
		<div class="upload-rules">
			<div class="icon-info"></div>
			<h3>Here is some tips:</h3>
			<ul>
				<li><p>Describe your video correct and choose name which will the most suitable for video subject.</p></li>
				<li><p>Choose the right category for video.</p></li>
				<li><p>Some categories of video are not allowed on cambox and will be deleted.</p></li>
			</ul>
			
		</div>
		<div class="clearfix"></div>
	</div>

}